
<script type="text/javascript" src="https://archives-library.wcsu.edu/cao/wp-content/themes/basic/js/functions.js?ver=1" id="basic-scripts-js"></script>


<header>

  <% if controller_name == 'catalog' && !has_search_parameters? && action_name == 'index' %>
    <div class='al-homepage-masthead jumbotron'>
      <div class="container">
<!--        <div class="row align-items-center"> -->
        <div class="wrapper clearfix">
        <%= render 'shared/wordpress_nav_test' %>


<div class="col-md-8">



<span class="h1">

<!--
<%= link_to image_tag(t('arclight.masthead_logo_html'), height: "187", width: "300"), root_path, class: "navbar-brand" %>
-->
<!-- 
<a href="<%= t('root_path') %>
<img style="margin-bottom: 20px;" width="300" hspace="20" src="<%=t('arclight.masthead_logo_html') %>" 
alt="<%= t('masthead_heading') %>">
</a> -->

</span></div>

<!--
          <div class="col-md-4 nav-links d-flex justify-content-end" >
            <ul class="navbar-nav" aria-label="browse" role="navigation">
              <%= render 'shared/main_menu_links' %>


            </ul>
          </div>-->
        </div>

        <div class='row justify-content-md-center'>
          <div class='col-12'>
            <div class='navbar-search'>
              <%= render_search_bar %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class='bg-faded al-masthead'>
      <div class="container">
        <div class="wrapper clearfix">
<!--        <div class="row align-items-center">-->
        <%= render 'shared/wordpress_nav_test' %>
<!--
     <div class="col-md-8" >
           <span class="h1">
          

<%= link_to image_tag(t('arclight.masthead_logo_html'), height: "93", width: "150"), root_path, class: "navbar-brand" %>
</span>
</div>
-->
    <!--      <div class="col-md-4 nav-links d-flex justify-content-end" >
            <ul class="navbar-nav" aria-label="browse" role="navigation">
              <%= render 'shared/main_menu_links' %>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <div class="navbar-search navbar">
      <div class="<%= container_classes %>">
        <%= render_search_bar  %>
      </div>
    </div>
  <% end %>
</header>

